<!DOCTYPE html>
<html>
<head>
    <title>Contactez-nous</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="index.html">Accueil</a></li>
            <li><a href="services.html">Nos services</a></li>
            <li><a href="contact.html">Contactez-nous</a></li>
        </ul>
    </nav>

    <h1>Contactez-nous</h1>
    <p>Contenu de la page "Contactez-nous"...</p>

    <script src="script.js"></script>
</body>
</html>

